<!--this file is demo for hector slam by howe -->
<launch>

    <!--global scan-->
    <include file="$(find nav_staff)/launch/xml/data_fusion.launch.xml">
        <arg name = 'fussion_use_rplidar_topic'      value = '/rplidar_scan' />
        <arg name = 'fussion_use_asus_topic'         value = '/asus_scan' />
        <arg name = 'fussion_scan_topic'             value = '/scan' />

        <arg name = 'fussion_PublishFrequency'       value= '0.01' />
        <arg name = 'fussion_asus_max_range'         value= '3.0' />
    </include>
    
    <!-- hector mapping -->
    <include file="$(find hector_mapping)/launch/mapping_default.launch">
        <arg name="odom_frame" value="odom"/>
    </include>

</launch>
