<launch>

   <!--启动导航目标策略-->
   <include file="$(find tasks)/launch/go_tasks2.launch" />

   <!--启动机器人标记-->
   <include file="$(find marker)/launch/robot_uni_marker.launch" >
      <arg name = "robot_laber"             value = " Xbot " />
      <arg name = "laber_height"            value = "1.3" />
      <arg name = "OdomTopic"               value = "/robot_position_in_map"/>
   </include>
   <!--用户交互-->
   <include file="$(find marker)/launch/ui_marker.launch" />

   <!--障碍物报警机制-->
   <!--<include file="$(find obstacle_warning)/launch/ObstaclesWarning.launch" />-->
   <!--<include file='$(find skeleton_detection)/launch/tracker.launch' />-->

</launch>
